<!DOCTYPE html>
<html lang="cs">
<head>
    <title>{% block title %}Autobazar{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <!-- Add additional CSS in static file -->
    {% load static %}
    {% block css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="bg-dark">
    <header class="jumbotron-fluid bg-success p-3">
        <h1 class="text-center display-3">Autobazar</h1>
    </header>
    <main class="container bg-secondary">
    {% block content %}{% endblock %}
    </main>
    <footer class="bg-success jumbotron-fluid">
        <p class="text-center">&copy; Vojtěch Dohnal </p>
        <p class="text-center">&copy; SŠPU Opava 2021</p>
    </footer>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>